<!--
  Generated template for the StocksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>かったもの</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="addStock()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="space">
      <ion-segment-button *ngFor="let space of spaces" (click)="onSelectChange(space)">
        {{ space }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <!-- <ion-fab bottom right>
      <button ion-fab mini (click)="addStock()"><ion-icon name="add"></ion-icon></button>
      <ion-fab-list>
        <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
      </ion-fab-list>
    </ion-fab> -->
    <div>
      <ion-list>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="商品名、メモ"></ion-searchbar>
        <button ion-item ion-item *ngFor="let item of filteredItems" (click)="itemSelected(item)">
          <ion-thumbnail item-start>
            <img src="assets/imgs/parts/80x80.png">
          </ion-thumbnail>
          <h2>
            {{ item.name }}<!-- <ion-icon name="custom-refrigerator"></ion-icon> -->
          </h2>
        </button>
      </ion-list>

      <!-- <ion-list>
        <ion-searchbar (ionInput)="getItems($event)" placeholder="商品名、メモ"></ion-searchbar>
        <ion-item *ngFor="let item of filteredItems" (click)="itemSelected(item)">
          <ion-thumbnail item-start small>
            <img src="assets/imgs/parts/80x80.png">
             <ion-icon name="custom-refrigerator" item-end></ion-icon>
          </ion-thumbnail>
          <h2>{{ item.name }}</h2>
          <p>{{ item.memo }}</p>
        </ion-item>
      </ion-list> -->
  </div>
</ion-content>
