<!--
  Generated template for the StocksPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>かったもの</ion-title>
    <ion-buttons start>
      <button ion-button icon-only (click)="addStock()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="space">
      <ion-segment-button *ngFor="let space of spaceList" (click)="onSelectChange(space)">
        {{ space }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <div>
      <ion-list>
        <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
        <button ion-item ion-item *ngFor="let item of filteredItems" (click)="itemSelected(item)">
          <ion-thumbnail item-start>
            <img src="assets/imgs/parts/80x80.png">
          </ion-thumbnail>
          <h2>[{{ item.space }}] {{ item.name }}</h2>
        </button>
      </ion-list>
  </div>
</ion-content>
